    body {
        margin-top: 100px;
        /*Above is for clearing body from underneath navbar*/
        font-size: 16px;
        ;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: Poppins;
    }
    
    p {
        font-family: Roboto;
    }
    
    .navbar-default {
        background: #fff;
        border: 0;
        font-family: Poppins;
        min-height: 77px;
    }
    
    .navbar-brand img {
        height: 200px;
        margin-top: -80px;
        margin-left: 20px
    }
    
    #navbar {
        margin-top: 7px;
    }
    
    #showcase img {
        width: 100%;
        margin-left: -20px;
        overflow: hidden;
    }
    
    #showcase .showcase-right {
        margin-top: 90px;
        overflow: hidden;
    }
    
    #showcase h1 {
        font-size: 50px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    
    .showcase-btn {
        border-radius: 20px;
    }
    
    .showcase-btn:hover {
        border-radius: 20px;
        background-color: black;
        background-image: url(../images-2/800px-Narra_wood.jpg);
        color: white;
        transition: 1s;
    }
    
    #testimonial {
        background: #f1f1f1;
        padding: 50px 0 30px 0;
        text-align: center;
        margin-top: 40px;
    }
    
    #testimonial p {
        font-size: 32px;
        font-family: 'Josefin Sans';
        color: #000;
    }
    
    #testimonial p.customer {
        font-size: 20px;
        color: #666;
    }
    
    #info1 .info-left {
        margin-top: 120px;
    }
    
    .info-right img {
        width: 100%;
        margin-left: 20px;
        margin-top: -20p
    }
    
    .info1-btn {
        border-radius: 20px;
    }
    
    .info1-btn:hover {
        border-radius: 20px;
        background-color: black;
        background-image: url(../images-2/800px-Narra_wood.jpg);
        color: white;
        transition: 1s;
    }
    
    #info-left,
    img {
        width: 100%;
        margin-left: -40px;
    }
    
    #info2 .info-right {
        margin-top: 20px;
        margin-left: 10px;
        padding-bottom: 20px;
    }
    
    .form-control {
        border-radius: 20px;
    }
    
    .formsubmit button {
        margin-left: 125px;
        border-radius: 20px;
    }
    
    .formsubmit button:hover {
        border-radius: 20px;
        color: white;
        background-color: black;
        background-image: url(../images-2/800px-Narra_wood.jpg);
        margin-left: 125px;
        transition: 1s;
    }
    
    #contact {
        background: url(../images-2/record-336626_1280.jpg) 0 -200px;
        padding: 40px;
        border-bottom: #333 3px solid;
    }
    
    footer {
        background-image: url(../images-2/800px-Narra_wood.jpg);
        color: #fff;
        padding: 40px;
        min-height: 200px;
        font-size: 15px;
    }
    
    .copyright {
        margin-top: 40px;
    }
    /*------------------------------------------*/
    /* Media Queries */
    
    @media(max-width: 768px) {
        h1,
        h2 {
            text-align: center;
        }
        #showcase img {
            margin-left: 3px;
        }
        #info-left,
        img {
            margin: 0;
        }
        .formsubmit button {
            margin: auto;
        }
        #navbar {
            margin-top: 30px;
        }
    }